/* common styles starts */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h2 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 1rem 0;
  text-transform: capitalize;
  text-align: center;
}

.font-hand {
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5rem;
  text-align: center;
}

.container {
}
/* common styles ends */

/* navigation bar starts */
nav {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: -4.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  animation: animateNav 1s 0.5s forwards;
  z-index: 10;
}

@keyframes animateNav {
  0% {
    opacity: 0;
    top: -8rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

nav h1 a {
  color: lightcoral;
}

nav ul {
  display: flex;
}

nav ul > li a {
  margin-left: 20px;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
/* navigation bar ends */

/* section 1 starts */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: rgba(127, 255, 212, 0.8);
}

.banner {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.profile-pic img {
  width: 30%;
  max-width: 250px;
  opacity: 0;
  animation: animateNav 1s 1.5s forwards;
}

.banner-heading {
  height: 20rem;
  margin-bottom: 4rem;
  perspective: 50rem;
  overflow: hidden;
}

.banner-heading span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateZ(8rem);
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  opacity: 0;
  letter-spacing: 1.5rem;
}

.heading-1 {
  animation: animateHeading 12s 2s infinite;
}

.heading-2 {
  animation: animateHeading 12s 5s infinite;
}

.heading-3 {
  animation: animateHeading 12s 8s infinite;
}

.heading-4 {
  animation: animateHeading 12s 11s infinite;
}

@keyframes animateHeading {
  0% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  3% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }

  25% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }

  28% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  100% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

.scroll-svg {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-svg img {
  position: absolute;
  bottom: 40px;
  max-width: 60px;
}
/* section 1 ends */

/* section 2 starts */
.section-2 {
  position: relative;
}

.blog-cards {
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  border-radius: 0.75rem;
  border: 1.5px solid #000;
  width: 500px;
  max-width: 500px;
  margin: 25px 20px;
  /* overflow: hidden; */
}

.card::after {
  content: "";
  background-color: rgba(127, 255, 212, 0.49);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.75rem;
  left: 10px;
  top: 10px;
  z-index: -1;
}

.card-img {
  /* max-width: 92rem; */
}

.card-img img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.75rem 0.75rem 0 0;
}

.card-desc {
  position: relative;
  padding: 0.7rem 1rem;
}

.card-desc h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-desc p {
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: 0px;
  font-size: 1rem;
  background: #ffffff;
  border-radius: 0 0 0.75rem 0.75rem;
  padding: 10px;
}

.card-desc:hover p {
  opacity: 1;
}

.svgs {
  position: absolute;
}

.triangle-svg {
  right: 7rem;
  top: 12rem;
}

.disc1-svg {
  top: 6rem;
  right: 6rem;
}

.disc2-svg {
  left: 9rem;
}

.square-svg {
  left: 7rem;
  top: 8rem;
}

.circle-svg {
  height: 10rem;
  left: -6rem;
  margin-top: 25rem;
}
/* section 2 ends */

/* contact page starts */
.contact-card {
  position: relative;
  margin-top: 6rem;
  padding: 2rem;
  border: 1.5px solid #000;
}

.contact-card::after {
  content: "";
  background-color: rgba(127, 255, 212, 0.49);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

.contact-card h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-card p {
  margin-bottom: 1rem;
}
/* contact page ends */

/* signup page starts */
.signup-page {
  position: relative;
  margin-top: 2rem;
  padding: 4rem;
  border-radius: 4px;
  border: 1.5px solid #000;
  /* background-color: bisque; */
}

.signup-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  left: 10px;
  top: 10px;
  background-color: rgba(127, 255, 212, 0.49);
  z-index: -1;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > label {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.form fieldset {
  padding: 0.7rem 1rem;
}

.form fieldset > label {
  margin-right: 10px;
}

.form > label input {
  margin-left: 10px;
  border: 1px solid rgb(13, 182, 126);
  border-radius: 3px;
  padding: 0.3rem;
}

select {
  padding: 0.3rem;
  border-radius: 3px;
  border: 1px solid rgb(13, 182, 126);
}

.checkbox {
  margin-left: 0px !important;
  font-weight: 400 !important;
}

.checkbox input {
  margin-right: 10px;
  margin-top: 1px;
}

.submit-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-in {
  margin-top: 20px;
  width: 90%;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: rgb(0, 255, 170);
  box-shadow: 0.1rem 0.1rem 0.1rem #888;
}

.submit-in:hover {
  transform: scale(1.2);
  cursor: pointer;
  border: 1px solid #000;
  box-shadow: 0.1rem 0.1rem 0.3rem #999;
}
/* signup page ends */

/* Footer */
.footer {
  width: 100%;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 5rem;
}

.footer-nav a {
  font-size: 1.2rem;
  color: #000000;
  margin-right: 3rem;
  letter-spacing: 0.1rem;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #ffffff;
}
/* End of Footer */
